:root {
  --Primary: #FFC6AC;
  --Secondary1: #FFF6DC;
  --Secondary1_Lighter: #ffeeae;
  --Secondary2: #C4C1A4;
  --Secondary3: #9E9FA5;
}
body{
    overflow-x: hidden;
    overflow-y: scroll;
    height: 420vh;
    background-color: var(--Secondary2);
}
.Hiden{
    display: none;
}
#Header{
    z-index: 100;
    width: 100vw;
    height: 13vh;
    background-color: var(--Primary);
    position: absolute;
    left: 0;
    top:0;
    box-shadow: 0px 3px 5px 5px rgba(0, 0, 0, 0.194);
}
#logo_Header{
    position: relative;
    height: 7vh;
    width: 7vh;
    background-color: var(--Secondary1);
    top:3vh;
    left:3vh;
}
.Text_Heading{
    font-family: 'Nunito', sans-serif;
    font-size: 7vh;
    font-weight: 800;
    color: var(--Secondary1);
}
#TopText_Header{
    position: absolute;
    top:-5vh;
    width: 100vw;
    height: 13vh;
    text-align: center;
}
#topRightCorrner{
    z-index: 101;
    position: absolute;
    left:70vw;
    top:3vh;
    height: 7vh;
    width: 25vw;
    /* background-color: rgba(91, 91, 91, 0.415); */
}
#Sign_up_Log_in{
    z-index: 102;
    position: relative;
    top:1vh ;
    left:8vw;
    width:10vw;
    text-align: center;
    height: 4vh;
    font-family: 'Nunito', sans-serif;
    font-size: 1.5vh;
    font-weight: 300;
    color: var(--Secondary1);
    transition: 500ms ease-in-out;
}
#Sign_up_Log_in:hover{
    color: var(--Secondary1_Lighter);
    transition: 100ms ease-in-out;
    cursor: pointer;
}
#Cart svg:hover{
    cursor: pointer;
}
#Cart svg{
    position: relative;
    z-index: 102;
    top: -3.5vh;
    left: 17.5vw;
}
#Hamburger_Menu:hover{
cursor: pointer;
}
#Hamburger_Menu svg{
    z-index: 103;
    position: absolute;
    left: 20vw;
    top:1vh;
}
#Hamburger_Menu_tabs div{
    z-index: 103;
    position: relative;
    left:15vw;
    width: 10vw;
    height: 5vh;
    border-radius: 2vw;
    border-color: black;
    background-color: var(--Secondary1);
}
#Hamburger_Menu_tabs div p{
    z-index: 103;
    position: relative;
    top:1vh;
    color: var(--Secondary3);
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 2vh;
    font-weight: 200;
}
.Home_Carousel{
    position: absolute;
    top:17vh;
    left:0;
    width: 100vw;
    height: 50vh;
}
#Home_Caruosel_Background{
    position: absolute;
    left:0;
    width: 100vw;
    height: 71vh;
    background-color: var(--Secondary2);
}
.Home_Carousel_image1{
    background-image: url("https://th.bing.com/th/id/R.e250f9aab191ac98114923fc4bb22da7?rik=Ekfh70lnSk6XhQ&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fwp1853040.jpg&ehk=d%2fdVAnnYlq8nJz9hef%2bkiq%2bJCQDcJiwFY1OYWQNZXMA%3d&risl=&pid=ImgRaw&r=0");
}
.Home_Carousel_image2{
    background-image: url("https://th.bing.com/th/id/R.ea335a92212de2ba20f4431fc142e591?rik=jq1QW2AoKmrz0w&riu=http%3a%2f%2fwallpapercave.com%2fwp%2funXHCFo.jpg&ehk=%2b%2buraQYm1sBpncE8EMO01vH6ISW250T6LyK4ScyUIjc%3d&risl=&pid=ImgRaw&r=0");
}
.Home_Carousel_image3{
    background-image: url("https://media.cntraveler.com/photos/57211a94fe5fd76f60bc2760/master/pass/deserts-gobi-cr-GettyImages-582205681.jpg");
}
.Home_Carousel_image4{
    background-image: url("https://th.bing.com/th/id/R.42b6efd2ca061b7d93de69e3a9d952d2?rik=ryQpq2FNIhq0MQ&riu=http%3a%2f%2fwallup.net%2fwp-content%2fuploads%2f2015%2f12%2f227873-landscape-cityscape-building-sunset-USA-New_York_City.jpg&ehk=q3HFV9W86G37S%2b6845UI8zpfy%2f9Gh%2fifgwrAbJ3Xq6A%3d&risl=1&pid=ImgRaw&r=0");
}
.Home_Carousel_image5{
    background-image: url("https://th.bing.com/th/id/R.ce5e911b97e5a2d75c2b728a4fdb78a6?rik=i%2ffl49ZAQpxa7A&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fJXwuN2Q.jpg&ehk=qtzmO4WfAkYG%2bYXAaiz9d3DuMYSdej9WVRxg%2fkf6qPE%3d&risl=&pid=ImgRaw&r=0");
}
#Home_Carousel_Center_image{
    z-index: 10;
    position: relative;
    width: 60vw;
    height: 50vh;
    left:20vw;
    background-size: cover;
    box-shadow: 5px 5px 6px 6px rgba(0, 0, 0, 0.368),-5px 5px 6px 6px rgba(0, 0, 0, 0.368),5px -5px 6px 6px rgba(0, 0, 0, 0.368),-5px -5px 6px 6px rgba(0, 0, 0, 0.368);
}
#Home_Carousel_left_image{
    z-index: 5;
    position: relative;
    filter: blur(3px) brightness(75%);
    top:5vh;
    width: 60vw;
    height: 40vh;
    left:-20vw;
    background-size: cover;
    box-shadow: 5px 5px 4px 4px rgba(0, 0, 0, 0.368),-5px 5px 4px 4px rgba(0, 0, 0, 0.368),5px -5px 4px 4px rgba(0, 0, 0, 0.368),-5px -5px 4px 4px rgba(0, 0, 0, 0.368);
}
#Home_Carousel_Right_image{
    z-index: 5;
    position: relative;
    filter: blur(3px) brightness(75%);
    top:5vh;
    width: 60vw;
    height: 40vh;
    left:60vw;
    background-size: cover;
    box-shadow: 5px 5px 4px 4px rgba(0, 0, 0, 0.368),-5px 5px 4px 4px rgba(0, 0, 0, 0.368),5px -5px 4px 4px rgba(0, 0, 0, 0.368),-5px -5px 4px 4px rgba(0, 0, 0, 0.368);
}
#Last_Carousel_Home{
    box-shadow: 5px 0px 2px black;
}
#Last_Carousel_Home svg{
    position: absolute;
    z-index: 10;
    left:5vw;
    top: 38vh;
    height: 8vh;
}
#Next_Carousel_Home{
    box-shadow: 5px 0px 2px black;
}
#Next_Carousel_Home svg{
    position: absolute;
    z-index: 10;
    left:90vw;
    top: 38vh;
    height: 8vh;
}
#Next_Carousel_Home svg rect,#Last_Carousel_Home svg rect{
    fill: var(--Secondary2);
}
#Next_Carousel_Home:hover,#Last_Carousel_Home:hover{
    cursor: pointer;
}

/* needs work!!! hover only efects one part of the image

#Next_Carousel_Home svg rect:hover,#Last_Carousel_Home svg rect:hover{
    fill: black;
}

*/

#Carousel_Nav_Buttons_Home{
    z-index: 15;
    position: absolute;
    top: 55vh;
    opacity: 0.8;
    transition: 250ms ease-in-out;
}
#Carousel_Nav_Buttons_Home div svg:hover{
    cursor: pointer;
}
.Carousel_Nav_Button_Clicked{
    fill: var(--Secondary1_Lighter);
    opacity: 1;
    transition: 250ms ease-in-out;
}
#Carousel_Nav_Button_1_Home svg rect:hover,#Carousel_Nav_Button_2_Home svg rect:hover,#Carousel_Nav_Button_3_Home svg rect:hover,#Carousel_Nav_Button_4_Home svg rect:hover,#Carousel_Nav_Button_5_Home svg rect:hover{
    fill: var(--Secondary1_Lighter);
    opacity: 1;
    transition: 250ms ease-in-out;
}
#Carousel_Nav_Button_1_Home{
    position: absolute;
    left:22vw;
}
#Carousel_Nav_Button_2_Home{
    position: absolute;
    left:32vw;
}
#Carousel_Nav_Button_3_Home{
    position: absolute;
    left:42vw;
}
#Carousel_Nav_Button_4_Home{
    position: absolute;
    left:52vw;
}
#Carousel_Nav_Button_5_Home{
    position: absolute;
    left:62vw;
}
#Home_Shop_Directory_Button,#Home_Custome_Design_Directory_Button,#Home_Suport_Directory_Button,#Home_About_Us_Directory_Button{
    position: relative;
    background-color: var(--Primary);
    width: 30vw;
    left:5vw;
    height: 10vh;
    top: 40vh;
    border-radius: 5vw;
    box-shadow: 5px 5px 4px 4px rgba(0, 0, 0, 0.126),-5px 5px 4px 4px rgba(0, 0, 0, 0.126),5px -5px 4px 4px rgba(0, 0, 0, 0.126),-5px -5px 4px 4px rgba(0, 0, 0, 0.126);
}
#Home_Shop_Directory_Button p,#Home_Custome_Design_Directory_Button p,#Home_Suport_Directory_Button p,#Home_About_Us_Directory_Button p{
    position: absolute;
    font-family: 'Nunito', sans-serif;
    font-size: 5vh;
    font-weight: 300;
    text-align: center;
    width: 30vw;
    top:-3vh;
    color: var(--Secondary3);
}
#Home_Shop_Directory_Button:hover,#Home_Custome_Design_Directory_Button:hover,#Home_Suport_Directory_Button:hover,#Home_About_Us_Directory_Button:hover{
    cursor: pointer;
}
#Home_Pages_Directory{
    position: absolute;
    z-index: 10;
    width: 70vw;
    top:80vh ;
    height: 290vh;
    left: 15vw;
    border-radius: 5vw;
    background-color: var(--Secondary1_Lighter);
    box-shadow: 5px 5px 4px 4px rgba(0, 0, 0, 0.126),-5px 5px 4px 4px rgba(0, 0, 0, 0.126),5px -5px 4px 4px rgba(0, 0, 0, 0.126),-5px -5px 4px 4px rgba(0, 0, 0, 0.126);
}
#Home_Shop_Directory{
    position: relative;
    background-color: aliceblue;
    width: 40vw;
    height: 60vh;
    left: 15vw;
    top: 10vh;
    box-shadow: 5px 5px 4px 4px rgba(0, 0, 0, 0.126),-5px 5px 4px 4px rgba(0, 0, 0, 0.126),5px -5px 4px 4px rgba(0, 0, 0, 0.126),-5px -5px 4px 4px rgba(0, 0, 0, 0.126);
    border-radius: 5vw;
}
#Home_Custome_Design_Directory{
    position: relative;
    background-color: aliceblue;
    width: 40vw;
    height: 60vh;
    left: 15vw;
    top: 20vh;
    border-radius: 5vw;
    box-shadow: 5px 5px 4px 4px rgba(0, 0, 0, 0.126),-5px 5px 4px 4px rgba(0, 0, 0, 0.126),5px -5px 4px 4px rgba(0, 0, 0, 0.126),-5px -5px 4px 4px rgba(0, 0, 0, 0.126);
}
#Home_Suport_Directory{
    position: relative;
    background-color: aliceblue;
    width: 40vw;
    height: 60vh;
    left: 15vw;
    top: 30vh;
    box-shadow: 5px 5px 4px 4px rgba(0, 0, 0, 0.126),-5px 5px 4px 4px rgba(0, 0, 0, 0.126),5px -5px 4px 4px rgba(0, 0, 0, 0.126),-5px -5px 4px 4px rgba(0, 0, 0, 0.126);
    border-radius: 5vw;
}
#Home_About_Us_Directory{
    position: relative;
    background-color: aliceblue;
    width: 40vw;
    height: 60vh;
    left: 15vw;
    top: 40vh;
    box-shadow: 5px 5px 4px 4px rgba(0, 0, 0, 0.126),-5px 5px 4px 4px rgba(0, 0, 0, 0.126),5px -5px 4px 4px rgba(0, 0, 0, 0.126),-5px -5px 4px 4px rgba(0, 0, 0, 0.126);
    border-radius: 5vw;
}
#footer{
    position: absolute;
    width: 100vw;
    height: 50vh;
    left:0;
    background-color: var(--Secondary3);
    top: 380vh;
}



@media screen and (min-width: 601px)and (max-width:980px){
    #Sign_up_Log_in{
        z-index: 102;
        position: relative;
        top:1.25vh ;
        left:6vw;
        width:10vw;
        text-align: center;
        height: 4vh;
        font-family: 'Nunito', sans-serif;
        font-size: 1.25vh;
        font-weight: 300;
        color: var(--Secondary1);
        transition: 500ms ease-in-out;
    }
    #Carousel_Nav_Button_1_Home svg,#Carousel_Nav_Button_2_Home svg,#Carousel_Nav_Button_3_Home svg,#Carousel_Nav_Button_4_Home svg,#Carousel_Nav_Button_5_Home svg{
        width: 10vw;
    }
    #Carousel_Nav_Button_1_Home{
        position: absolute;
        left:22vw;
    }
    #Carousel_Nav_Button_2_Home{
        position: absolute;
        left:33vw;
    }
    #Carousel_Nav_Button_3_Home{
        position: absolute;
        left:44vw;
    }
    #Carousel_Nav_Button_4_Home{
        position: absolute;
        left:55vw;
    }
    #Carousel_Nav_Button_5_Home{
        position: absolute;
        left:66vw;
    }
    #Home_Pages_Directory{
        position: absolute;
        z-index: 10;
        width: 100vw;
        top:80vh ;
        height: 290vh;
        left: 0;
        border-radius: 5vw;
        background-color: var(--Secondary1_Lighter);
        box-shadow: 5px 5px 4px 4px rgba(0, 0, 0, 0.126),-5px 5px 4px 4px rgba(0, 0, 0, 0.126),5px -5px 4px 4px rgba(0, 0, 0, 0.126),-5px -5px 4px 4px rgba(0, 0, 0, 0.126);
    }
    #Home_Shop_Directory{
        position: relative;
        background-color: aliceblue;
        width: 70vw;
        height: 60vh;
        left: 15vw;
        top: 10vh;
        box-shadow: 5px 5px 4px 4px rgba(0, 0, 0, 0.126),-5px 5px 4px 4px rgba(0, 0, 0, 0.126),5px -5px 4px 4px rgba(0, 0, 0, 0.126),-5px -5px 4px 4px rgba(0, 0, 0, 0.126);
        border-radius: 5vw;
    }
    #Home_Custome_Design_Directory{
        position: relative;
        background-color: aliceblue;
        width: 70vw;
        height: 60vh;
        left: 15vw;
        top: 20vh;
        border-radius: 5vw;
        box-shadow: 5px 5px 4px 4px rgba(0, 0, 0, 0.126),-5px 5px 4px 4px rgba(0, 0, 0, 0.126),5px -5px 4px 4px rgba(0, 0, 0, 0.126),-5px -5px 4px 4px rgba(0, 0, 0, 0.126);
    }
    #Home_Suport_Directory{
        position: relative;
        background-color: aliceblue;
        width: 70vw;
        height: 60vh;
        left: 15vw;
        top: 30vh;
        box-shadow: 5px 5px 4px 4px rgba(0, 0, 0, 0.126),-5px 5px 4px 4px rgba(0, 0, 0, 0.126),5px -5px 4px 4px rgba(0, 0, 0, 0.126),-5px -5px 4px 4px rgba(0, 0, 0, 0.126);
        border-radius: 5vw;
    }
    #Home_About_Us_Directory{
        position: relative;
        background-color: aliceblue;
        width: 70vw;
        height: 60vh;
        left: 15vw;
        top: 40vh;
        box-shadow: 5px 5px 4px 4px rgba(0, 0, 0, 0.126),-5px 5px 4px 4px rgba(0, 0, 0, 0.126),5px -5px 4px 4px rgba(0, 0, 0, 0.126),-5px -5px 4px 4px rgba(0, 0, 0, 0.126);
        border-radius: 5vw;
    }
    #Home_Shop_Directory_Button p,#Home_Custome_Design_Directory_Button p,#Home_Suport_Directory_Button p,#Home_About_Us_Directory_Button p{
        position: absolute;
        font-family: 'Nunito', sans-serif;
        font-size: 3vh;
        font-weight: 300;
        text-align: center;
        width: 50vw;
        top:-3vh;
        color: var(--Secondary3);
    }
    #Home_Shop_Directory_Button,#Home_Custome_Design_Directory_Button,#Home_Suport_Directory_Button,#Home_About_Us_Directory_Button{
        position: relative;
        background-color: var(--Primary);
        width: 50vw;
        left:10vw;
        height: 10vh;
        top: 40vh;
        border-radius: 5vw;
        box-shadow: 5px 5px 4px 4px rgba(0, 0, 0, 0.126),-5px 5px 4px 4px rgba(0, 0, 0, 0.126),5px -5px 4px 4px rgba(0, 0, 0, 0.126),-5px -5px 4px 4px rgba(0, 0, 0, 0.126);
    }
    #footer{
        position: absolute;
        width: 100vw;
        height: 70vh;
        left:0;
        background-color: var(--Secondary3);
        top: 360vh;
    }
}
@media screen and (max-width:600px){
    #Sign_up_Log_in{
        z-index: 102;
        position: relative;
        top:1.5vh ;
        left:6vw;
        width:10vw;
        text-align: center;
        height: 4vh;
        font-family: 'Nunito', sans-serif;
        font-size: 1vh;
        font-weight: 300;
        color: var(--Secondary1);
        transition: 500ms ease-in-out;
    }
    #Cart svg{
        position: relative;
        z-index: 102;
        top: -3vh;
        left: 17.5vw;
    }
    #TopText_Header{
        position: absolute;
        font-size: 5vh;
        top:-2vh;
        width: 100vw;
        height: 13vh;
        text-align: center;
    }
    #logo_Header{
        position: relative;
        height: 5vh;
        width: 5vh;
        background-color: var(--Secondary1);
        top:4vh;
        left:3vh;
    }
    #Home_Carousel_Center_image{
        z-index: 10;
        position: relative;
        width: 100vw;
        height: 50vh;
        left: 0;
        background-size: cover;
        box-shadow: 5px 5px 4px 4px rgba(0, 0, 0, 0.368),-5px 5px 4px 4px rgba(0, 0, 0, 0.368),5px -5px 4px 4px rgba(0, 0, 0, 0.368),-5px -5px 4px 4px rgba(0, 0, 0, 0.368);
    }
    #Home_Carousel_left_image{
        display: none;
    }
    #Home_Carousel_Right_image{
        display: none;
    }
    #Carousel_Nav_Button_1_Home{
        position: absolute;
        left:3.33vw;
    }
    #Carousel_Nav_Button_2_Home{
        position: absolute;
        left:21.7vw;
    }
    #Carousel_Nav_Button_3_Home{
        position: absolute;
        left:40vw;
    }
    #Carousel_Nav_Button_4_Home{
        position: absolute;
        left:58.3vw;
    }
    #Carousel_Nav_Button_5_Home{
        position: absolute;
        left:76.7vw;
    }
    #Home_Pages_Directory{
        position: absolute;
        z-index: 10;
        width: 100vw;
        top:80vh ;
        height: 290vh;
        left: 0;
        border-radius: 5vw;
        background-color: var(--Secondary1_Lighter);
        box-shadow: 5px 5px 4px 4px rgba(0, 0, 0, 0.126),-5px 5px 4px 4px rgba(0, 0, 0, 0.126),5px -5px 4px 4px rgba(0, 0, 0, 0.126),-5px -5px 4px 4px rgba(0, 0, 0, 0.126);
    }
    #Home_Shop_Directory{
        position: relative;
        background-color: aliceblue;
        width: 70vw;
        height: 60vh;
        left: 15vw;
        top: 10vh;
        box-shadow: 5px 5px 4px 4px rgba(0, 0, 0, 0.126),-5px 5px 4px 4px rgba(0, 0, 0, 0.126),5px -5px 4px 4px rgba(0, 0, 0, 0.126),-5px -5px 4px 4px rgba(0, 0, 0, 0.126);
        border-radius: 5vw;
    }
    #Home_Custome_Design_Directory{
        position: relative;
        background-color: aliceblue;
        width: 70vw;
        height: 60vh;
        left: 15vw;
        top: 20vh;
        border-radius: 5vw;
        box-shadow: 5px 5px 4px 4px rgba(0, 0, 0, 0.126),-5px 5px 4px 4px rgba(0, 0, 0, 0.126),5px -5px 4px 4px rgba(0, 0, 0, 0.126),-5px -5px 4px 4px rgba(0, 0, 0, 0.126);
    }
    #Home_Suport_Directory{
        position: relative;
        background-color: aliceblue;
        width: 70vw;
        height: 60vh;
        left: 15vw;
        top: 30vh;
        box-shadow: 5px 5px 4px 4px rgba(0, 0, 0, 0.126),-5px 5px 4px 4px rgba(0, 0, 0, 0.126),5px -5px 4px 4px rgba(0, 0, 0, 0.126),-5px -5px 4px 4px rgba(0, 0, 0, 0.126);
        border-radius: 5vw;
    }
    #Home_About_Us_Directory{
        position: relative;
        background-color: aliceblue;
        width: 70vw;
        height: 60vh;
        left: 15vw;
        top: 40vh;
        box-shadow: 5px 5px 4px 4px rgba(0, 0, 0, 0.126),-5px 5px 4px 4px rgba(0, 0, 0, 0.126),5px -5px 4px 4px rgba(0, 0, 0, 0.126),-5px -5px 4px 4px rgba(0, 0, 0, 0.126);
        border-radius: 5vw;
    }
    #Home_Shop_Directory_Button p,#Home_Custome_Design_Directory_Button p,#Home_Suport_Directory_Button p,#Home_About_Us_Directory_Button p{
        position: absolute;
        font-family: 'Nunito', sans-serif;
        font-size: 3vh;
        font-weight: 300;
        text-align: center;
        width: 50vw;
        top:-3vh;
        color: var(--Secondary3);
    }
    #Home_Shop_Directory_Button,#Home_Custome_Design_Directory_Button,#Home_Suport_Directory_Button,#Home_About_Us_Directory_Button{
        position: relative;
        background-color: var(--Primary);
        width: 50vw;
        left:10vw;
        height: 10vh;
        top: 40vh;
        border-radius: 5vw;
        box-shadow: 5px 5px 4px 4px rgba(0, 0, 0, 0.126),-5px 5px 4px 4px rgba(0, 0, 0, 0.126),5px -5px 4px 4px rgba(0, 0, 0, 0.126),-5px -5px 4px 4px rgba(0, 0, 0, 0.126);
    }
    #footer{
        position: absolute;
        width: 100vw;
        height: 70vh;
        left:0;
        background-color: var(--Secondary3);
        top: 360vh;
    }
}